body{
    margin:0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 30px;
}

header{
    padding: 25px;
    background-color:#d14635;
    text-align: center;
}

h1,h2{
    font-family: 'Press Start 2P', cursive;
}

header h1{
    color: white;
    font-size: 50px;    
}

header img{
    border-radius: 300px;
    width: 300px;
    border: 10px solid; color: rgb(13, 27, 39) ;
}

main{
    padding: 25px;
    max-width: 800px;
    margin: 0 auto;
 
}

main img{
    max-width: 100%;
}

h2{
    font-size: 35px;
    color: #e70c19
    
}

a{
    color: #e70c19;
    
}

a:hover{
    color:white;
    background-color: #483a94;
}

footer{
    background-color:#d14635;
    text-align: center;
    color:white;
    padding: 50px;
}

footer p{
    margin: 0;
}


footer a{
    color:white;
}

footer a:hover{
    opacity:.5;
    background-color: transparent ;
}

figcaption{
    color: rebeccapurple;
    font-style: italic;}
   